.navbar-brand i::before {
    color: #01B288;
}
.menu li a:hover::before {
    color: #01B288;
}
.menu li a:hover {
    border-bottom: 1px solid #01B288;
}
.menu > .active > a,
.menu > .active > a:focus,
.menu .active > a:hover {
	border-bottom: 1px solid #01B288;
}
.menu .active a::before,
.menu .active a:hover::before,
.menu .active a:focus::before {
	color: #01B288;
}
.menu li .menu-color {
    color: #242B54;
}
.sticky {
    background: #01748F;
}
.slider {
	background:#F7F8FC;
}
.slider-overlay {
    background: rgb(129,227,176);
    background: -moz-linear-gradient(-9deg, rgba(129,227,176,0) 0%,rgba(129,227,176,0) 54%,rgba(129,227,176,1) 54%,rgba(129,227,176,0.8) 100%);
    background: -webkit-linear-gradient(-9deg, rgba(129,227,176,0) 0%,rgba(129,227,176,0) 54%,rgba(129,227,176,1) 54%,rgba(129,227,176,0.8) 100%);
    background: linear-gradient(99deg, rgba(1,172,138,0) 0%,rgba(1,172,138,0) 54%,rgba(1,172,138,1) 54%,rgba(1,172,138,0.8) 100%);
}
.slider-text ul li i {
	background: #01AC8A;
}
.slider-text a {
	background: #01AC8A;
}
.slider-text a:hover {
    background: #0388A7;
}
.top-head-before::before {
    border-top: 1px solid #01AC8A;
}
.top-head-before i {
	color: #01AC8A;
}
.service-top-content i {
	color: #01AC8A;
}
.service-bottom-web {
	background: #01AC8A;
}
.service-top-icon i {
	background: #01748F;
}
.service-bottom-content ul li i {
	background: #01AC8A;
}
.process-top-icon i {
	background: #0388A7;
}
.process-top-icon i:hover {
	background: #01AC8A;
}
.process-top-before i {
	background: none;
}
.counterup-overlay {
    background: rgb(35,42,84);
    background: -moz-linear-gradient(top,rgba(35,42,84,0.9) 0%,rgba(36,43,85,.8) 42%,rgba(41,47,95,0.8) 82%,rgba(41,47,95,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(35,42,84,0.9) 0%,rgba(36,43,85,.8) 42%,rgba(41,47,95,0.8) 82%,rgba(41,47,95,0.7) 100%);
    background: linear-gradient(to bottom, rgba(3,136,167,0.9) 0%,rgba(3,136,167,.8) 42%,rgba(3,136,167,0.8) 82%,rgba(3,136,167,0.7) 100%);
}
.experience .carousel-indicators .active {
	color: #01AC8A;
}
.experience .carousel-control:hover {
    color: #01AC8A;
}
.portfolio-content-overlay {
	background: rgba(3,136,137,0.7);
}
.pricing-content button {
	background: #0388A7;
}
.pricing-content button:hover {
	background: #01AC8A;
}
.pricing-content-icon i {
	background: #01AC8A;
}
.review{
	background: #0388A7;
}
.review-left-over {
	background: #01748F;
}
.review-left-before::before {
	border-top: 1px solid #01748F;
}
.review-left-before i {
	color: #01748F;
}
.review-left-bg-color {
    background: #187792;
}
.testimonial-left .panel-heading.active,
.testimonial-left .panel-heading:focus,
.testimonial-left .panel-heading:hover {
	background: #0388A7;
}
.testimonial-left-para a {
	background: #01AC8A;
}
.testimonial-left-para a:hover {
	background: #0388A7;
}
.contact {
	background: #0388A7;
}
.contact-bottom button {
	background: #01AC8A;
}
.contact-top .top-head-before::before {
    border-top: 1px solid #01748F;
}
.contact-top .top-head-before i {
    color: #01748F;
}
.contact-top a {
	background: #01748F;
}
.contact-bottom .form-group,
.contact-bottom .form-group-textarea {
	border: 1px solid #01748F;
}
.footer {
	background: #01748F;
}
.scrollToTop {
	background: #01748F;
}